@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');
* {
    box-sizing: border-box;
}

@font-face {
    font-family: "NuritoB";
    src: url("./font/NunitoSans_7pt_Expanded-ExtraBold.ttf") format('truetype');
    font-style: normal;
  }
  
  @font-face {
    font-family: "NuritoL";
    src: url("./font/NunitoSans_7pt_Expanded-Regular.ttf") format('truetype');
    font-style: normal;
  }
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-family: "NuritoL", sans-serif;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #00000007;
    height: 80px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    font-family: NuritoB;
    z-index: 1000;/* Добавлен отступ с обеих сторон для лучшего визуального эффекта */
}
.header .logo{
    padding: 20px;
}


.navbar-menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.navbar-item {
    margin-left: 4vw;
    padding: 5px 15px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 3px;
    transition: 200ms;
    text-align: center;

}

.navbar-item a{
    color: #000000;
    text-decoration: none;
}



.navbar-item:hover {
    background-color: #0085FF;
    color: white;
    -webkit-text-fill-color: #ffffff;
    border: #0085FF solid 3px;
    scale: 90%;
}

#active {
    background-color: #0085FF;
    color: white;
    border: #0085FF solid 3px;
}

.navbar-text {
    display: block;
    color: #000000;
    margin-bottom: 4px;
    font-size: 14px;
    width: 150px;
}


.card{
    width: 20vw;
    height: 70vh;
    box-shadow: 0px 0px 20px #00000039;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card img{
    width: 20vw;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    height: 40vh;    
    transition: 200ms;
}
span{
    color: #0085FF;
    font-family: NuritoB;
}

button{
    flex: 1;
    border: solid;
    background-color: #0085FF;
    border: #0085FF solid 4px;
    color: white;
    padding: 10px;
    border-radius: 14px;
    transition: 200ms;
}

button:hover{
    border: #0085FF solid 4px;
    color: #0085FF;
    border-radius: 14px;
    background-color: #ffffff;
    scale: 90%;
}


.buttons{
    width: 19vw;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    
}
.buttons a{
    flex: 1;
    display: flex;
    text-decoration: none;
}

.card p{
    font-size: 20px;
    font-family: NuritoB;
    line-height: 20px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    width: 99vw;
}

.obj{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: dashed;
    height: 100vh;
}

#top{
    justify-content: center;
    position: relative;
    height: 100vh;
    background-image: url("./img/back.png");
    background-size: 50%;
}

#top h1{
    font-size: 7vw;
    color: #0085FF;
    line-height: 0px;
    margin-top: 200px;
    font-weight: bolder;
    font-family: NuritoB;
}
#top p{
    font-size: 2vw;
    line-height: 0px;
    font-family: NuritoL;
}
.under{
    margin-top: 120px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: #000000 solid;
    font-size: 40px;
    text-transform: uppercase;
}

#top .strelka {
    position: relative;
    top: 150px;
    margin-bottom: 25px;
    background-color: #ffffff;
    width: 70px;
    height: 140px;
    border: #0084ffc3 solid;
    border-radius: 100px;
    transition: 200ms;
    box-shadow: #0084ff9a 0px 0px 40px;
}
#top .strelka:hover{
    scale: 90%;
}

#top img {
    position: absolute;
    bottom: 0;
    left: 23%;
    margin-bottom: 15px;
    width: 35px;
}
h1{
    font-family: NuritoB;
    }

#hi{
    text-align: justify;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 50px;
    
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: slideIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translate(-50%, -60%);
    }
    to {
        transform: translate(-50%, -50%);
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.lef{
    width: 600px;
    height: 300px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons img{
    width: 100px;
}
.icons a{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    text-decoration: none;
    color: #0085FF;
    font-size: larger;
    font-family: NuritoB;
}

#contact-form input[type="tel"], #contact-form input[type="date"], #contact-form input[type="email"], #contact-form input[type="text"]{
    height: 40px;
    width: 350px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: white solid 1px;
    background-color: #ffffff;
    border-radius: 14px;
    font-size: 13px;
    font-family:'NuritoL', sans-serif;
    box-shadow: #0084ff94 0px 0px 20px;
    
}

  #contact-form select{
    height: 45px;
    width: 350px;
    padding-left: 15px;
    font-size: 13px;
    margin-bottom: 10px;
    color: #00000081;
    border: white solid 1px;
    background-color: #ffffff;
    appearance: none;
    border-radius: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family:'NuritoL', sans-serif;
    box-shadow: #0084ff94 0px 0px 20px;
  }
  
  #contact-form{
    font-family: NuritoB;
    color: #0085FF;
  }
  #contact-form textarea{
    height: 100px;
    width: 350px;
    background-color: #ffffff;
    font-size: 13px;
    border-radius: 14px;
    border: none;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family:'NuritoL', sans-serif;
    box-shadow: #0084ff94 0px 0px 20px;
  }
  #contact-form input[type="submit"]{
    flex: 1;
    border: solid;
    font-family: NuritoB;
    background-color: #0085FF;
    border: #0085FF solid 4px;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 14px;
    transition: 200ms;
  }
  
  #contact-form input[type="submit"]:hover{
    border: #0085FF solid 4px;
    color: #0085FF;
    border-radius: 14px;
    background: white;
    scale: 90%;
  }

#contacts{
    background-image: url("./img/back.png");
    background-size: 50%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left img{
    height: 70vh;
    margin-left: 100px;
}

footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0085FF;
    font-family: NuritoB;
    font-size: 20px;
}